[submodule "libs/blueprint"]
	path = libs/blueprint
	url = https://github.com/NilFoundation/zkllvm-blueprint.git
[submodule "libs/crypto3/algebra"]
	path = libs/crypto3/algebra
	url = https://github.com/NilFoundation/crypto3-algebra.git
[submodule "libs/crypto3/block"]
	path = libs/crypto3/block
	url = https://github.com/NilFoundation/crypto3-block.git
[submodule "libs/crypto3/codec"]
	path = libs/crypto3/codec
	url = https://github.com/NilFoundation/crypto3-codec.git
[submodule "libs/crypto3/containers"]
	path = libs/crypto3/containers
	url = https://github.com/NilFoundation/crypto3-containers.git
[submodule "libs/crypto3/hash"]
	path = libs/crypto3/hash
	url = https://github.com/NilFoundation/crypto3-hash.git
[submodule "libs/crypto3/mac"]
	path = libs/crypto3/mac
	url = https://github.com/NilFoundation/crypto3-mac.git
[submodule "libs/crypto3/math"]
	path = libs/crypto3/math
	url = https://github.com/NilFoundation/crypto3-math.git
[submodule "libs/crypto3/modes"]
	path = libs/crypto3/modes
	url = https://github.com/NilFoundation/crypto3-modes.git
[submodule "libs/crypto3/multiprecision"]
	path = libs/crypto3/multiprecision
	url = https://github.com/NilFoundation/crypto3-multiprecision.git
[submodule "libs/crypto3/pkpad"]
	path = libs/crypto3/pkpad
	url = https://github.com/NilFoundation/crypto3-pkpad.git
[submodule "libs/crypto3/pkmodes"]
	path = libs/crypto3/pkmodes
	url = https://github.com/NilFoundation/crypto3-pkmodes.git
[submodule "libs/crypto3/pubkey"]
	path = libs/crypto3/pubkey
	url = https://github.com/NilFoundation/crypto3-pubkey.git
[submodule "libs/crypto3/random"]
	path = libs/crypto3/random
	url = https://github.com/NilFoundation/crypto3-random.git
[submodule "libs/crypto3/stream"]
	path = libs/crypto3/stream
	url = https://github.com/NilFoundation/crypto3-stream.git
[submodule "libs/crypto3/zk"]
	path = libs/crypto3/zk
	url = https://github.com/NilFoundation/crypto3-zk.git
[submodule "libs/crypto3/marshalling/algebra"]
	path = libs/crypto3/marshalling/algebra
	url = https://github.com/NilFoundation/crypto3-algebra-marshalling.git
[submodule "libs/crypto3/marshalling/core"]
	path = libs/crypto3/marshalling/core
	url = https://github.com/NilFoundation/marshalling.git
[submodule "libs/crypto3/marshalling/multiprecision"]
	path = libs/crypto3/marshalling/multiprecision
	url = https://github.com/NilFoundation/crypto3-multiprecision-marshalling.git
[submodule "libs/crypto3/marshalling/zk"]
	path = libs/crypto3/marshalling/zk
	url = https://github.com/NilFoundation/crypto3-zk-marshalling.git
[submodule "cmake/modules"]
	path = cmake/modules
	url = https://github.com/BoostCMake/cmake_modules.git
[submodule "libs/transpiler"]
	path = libs/transpiler
	url = https://github.com/NilFoundation/zkllvm-transpiler.git
